body{
	color: black;
	margin: 20px 20px 20px 20px;
	padding: 0 20px 0 20px;
	border: solid #e5698e 1px;
	background-color:  #fffcd3 ;
	font-family: 'Josefin Sans', sans-serif;
	line-height: 1.5em;
}
header{
	text-align: center;
	margin-bottom: 20px;
}
header img{
	width: 15em;
}
.citation{
	border: dashed #e5698e 2px;
	background-color: rgba(255, 143, 176, 0.5);
	text-align: center;
	margin : 0 20px 30px 20px;
	padding: 20px 0 20px 0;
}
h1, h2, h3{
	color: #e5698e;
	font-family: 'Philosopher', sans-serif;
}
h2{
	font-weight: 700;
	text-decoration: underline;
}
h3{
	font-style: italic;
	font-size: 1.2em;
}
ul{
	padding : 20px;
}
li, p, q{
	font-size: 1.2em;
}
a{
	color : #e5698e;
	font-weight: bold;
}
a:hover{
	color: black;
}
.competences{
	display: flex;
	flex-direction: wrap;
	justify-content: space-around;
}
.competences div{
	border: dashed #e5698e 1px;
	width: 30%;
	padding: 10px;
}
.competences h3{
	text-align: center;
}
.anecdote{
	border: dashed #e5698e 2px;
	text-align: center;
	margin: 20px 20px 20px 0px;
}
footer{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 143, 176, 0.5);
	height: 4em;
}
footer img{
	width: 40px;
}
.github{
	margin-right: 30px;
}